<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue01.html</title>
  <script src="./js/vue.js"></script>
  <style>
    .tabs {
      display: flex;
      border-bottom: 1px solid black;
    }
    .tabs .tab {
      padding: 10px 15px;
      cursor: pointer;
      user-select: none;
      margin-bottom: -1px;
    }
    .tabs .tab.active {
      color: red;
      border-bottom: 2px solid red;
    }
  </style>
</head>
<body>
  <div id="app">

    <!-- 显示亮哥的年龄、年龄段 -->
    <h3>
      亮哥的年龄：{{age}}， 
      属于年龄段：
      <b v-if="age<18">未成年</b>
      <b v-else-if="age<=35">青年</b>
      <b v-else-if="age<=60">中年</b>
      <b v-else>老年</b>
      
    </h3>
    

    <img height="200" :src="movie.url" alt="">
    <h3>电影名称：{{ movie.name }}</h3>
    <h3>电影时长：
      {{ Math.floor(movie.duration/60) }}小时
      {{ movie.duration%60 }}分钟
    </h3>
    <h3>上映时间：{{ movie.showingon }}</h3>

    <!-- 模拟选项卡 -->
    <div class="tabs">
      <div @click="i=0" :class="`tab  ${i==0?'active':''}`">电影介绍</div>
      <div @click="i=1" :class="`tab  ${i==1?'active':''}`">演职人员</div>
      <div @click="i=2" :class="`tab  ${i==2?'active':''}`">荣誉奖项</div>
      <div @click="i=3" :class="`tab  ${i==3?'active':''}`">剧照图集</div>
    </div>
    <div class="tabs">
      <div @click="i=0" :class="{tab:true, active:i==0}">电影介绍</div>
      <div @click="i=1" :class="{tab:true, active:i==1}">演职人员</div>
      <div @click="i=2" :class="{tab:true, active:i==2}">荣誉奖项</div>
      <div @click="i=3" :class="{tab:true, active:i==3}">剧照图集</div>
    </div>
    <div :style="`display:${i==0?'block':'none'};`">
      <h3>电影介绍内容</h3>
      <button id="btn">点我换一部电影</button>
      <button v-on:click="doClick(100)"> v-on:click() 绑定事件</button>
      <button @click="doClick(200)"> @click() 绑定事件</button>
      <button v-on:click="doClick($event, 100, 200)"> v-on:click 绑定事件</button>
      <button @click="doClick"> @click 绑定事件</button>
      <input @blur="doClick" type="text" placeholder="点我再离开我">

      <hr>
      <input :type="type" placeholder="请输入密码">    
      <button @click="type = (type=='password'?'text':'password')">小眼睛</button>

    </div>
    <div :style="`display:${i==1?'block':'none'};`">
      <h3>演职人员内容</h3>
    </div>
    <div :style="{display:i==2?'block':'none'}">
      <h3>荣誉奖项内容</h3>
    </div>
    <div :style="{display:i==3?'block':'none'}">
      <h3>剧照图集内容</h3>
    </div>

    <div v-if="i==0">
      <h3>电影介绍内容</h3>
      <button id="btn">点我换一部电影</button>
      <button v-on:click="doClick(100)"> v-on:click() 绑定事件</button>
      <button @click="doClick(200)"> @click() 绑定事件</button>
      <button v-on:click="doClick($event, 100, 200)"> v-on:click 绑定事件</button>
      <button @click="doClick"> @click 绑定事件</button>
      <input @blur="doClick" type="text" placeholder="点我再离开我">

      <hr>
      <input :type="type" placeholder="请输入密码">    
      <button @click="type = (type=='password'?'text':'password')">小眼睛</button>

    </div>
    <div v-if="i==1">
      <h3>演职人员内容</h3>
    </div>
    <div v-if="i==2">
      <h3>荣誉奖项内容</h3>
    </div>
    <div v-if="i==3">
      <h3>剧照图集内容</h3>
    </div>



  </div>

  <div id="app2"></div>
  <div id="app3"></div>

  <script>
    // 创建Vue对象来管理页面元素   #app
    let vm = new Vue({
      // data选项用于定义页面中需要显示的一些变量
      data: {
        age: 85, // 表示亮哥的年龄


        i: 0,  // 表示当前选中项tab的下标  0,1,2,3
        type: 'password',

        movie: {
          url: 'https://p0.pipi.cn/mmdb/fb7386877e151bb86050152b2c2508b05f0e0.jpg?imageView2/1/w/464/h/644',
          name: '速度与激情10',
          type: '动作',
          duration: 112,
          showingon: '2023-05-17'
        }
      },
      
      // methods选项用于定义所需要的方法
      methods:{
        doClick(e, arg1, arg2){
          console.log('doClick按钮被点击:', {e, arg1, arg2})
          // 修改data中定义的movie数据
          this.movie = {
            url: 'https://p0.pipi.cn/mmdb/fb738687e7addd7df5030c82a13f15b023a9c.jpg?imageView2/1/w/464/h/644',
            name: '刀剑神域进击篇：暮色黄昏',
            type: '动作 动画',
            duration: 101,
            showingon: '2023-05-26'
          }
        }
      },
      
      el: '#app',  // 该属性用于告诉Vue，管理页面中的哪个DOM
    })

    let btn = document.getElementById('btn')
    btn.onclick = function(){
      // 修改掉vue对象内部data声明的变量的值 
      vm.movie = {
        name: '刀剑神域进击篇：暮色黄昏',
        type: '动作 动画',
        duration: 101,
        showingon: '2023-05-26'
      } 
    }

  </script>
</body>
</html>